@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.875rem 3.125rem;
}

.counter {
    font-size: 3.75rem;
    margin-top: .625rem;
}

@media screen and (max-width: 36.25rem) {
    body {
        flex-direction: column;
    }
}